
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
/* for menu */
.mainmenu{
    /* width: 100%;
    position: relative; */
    background-color: antiquewhite;
    /* padding: 50px 0; */
}
.mainmenu .container{
    margin: auto;
    width: 90%;
}
.mainmenu .row
{
    /* align-items: center;
    justify-content: space-between; */
    position: relative;
    
}
.mainmenu .row .image{
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50% );
}
img{
    background-color: black;
    width: 120px;
    height: 100px;
}
.mainmenu .row .image a{
    display: block;
}

.mainmenu .menu {
    text-align: right;
    
}

/* for carousel */
.carousel img{
    width: 100%;
    height: 100%;
 
}
.carousel{
    position: relative;
    width: 100%;
   
}
.slider{
    height: 655px;
    display: none;
    overflow: hidden;
}

.prev, .next{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    transition: 0.1s;
    user-select: none;
}
.prev:hover, .next:hover{
    color: #3498db;
}
.next{
    right: 0;
}
.info{
    position:absolute;
    color: #fff;
    letter-spacing: 2px;
    line-height: 35px;
    top: 40%;
    left: 30%;
}
.info h1{
    color: aliceblue;
    font-weight: bold;
    /* margin: 20px; */
}
.info p{
    font-weight: bold;
    font-size: 20px;
}




/*for larger screen  */
@media(max-width:1990px){
   .mainmenu .menu{
    display: block ;
    height: auto !important;
   }
   .mainmenu .menu li{
    display: inline-block;
    padding: 43px 10px;
    }
    .mainmenu .menu li a{
        display: block; 
        padding: 8px 15px;
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
        color: black;
    }
    .menu li:nth-child(1){
        float: left;
    }
    .menu li:nth-child(2){
        float: left;
    }
    .menu li:nth-child(3){
        float: left;
    } 
    
}


@media(max-width:992px){
    .mainmenu .row .image{
        position: static;
        transform: translateX(0%);
    }
    .mainmenu .row .image a{
        width: 80%;
    }
    .mainmenu .row .image .nav-toggler{
        position: absolute;
        right: 10px;
        top: 30px;
        display: block;
        width: 40px;
        background-color: black;
        padding: 15px 9px;
        cursor: pointer;
        border-radius: 5px;
    }
    .mainmenu .row .image .nav-toggler span{
        display: block;
        max-width: 90%;
        height: 2px;
        margin: auto;
        background-color: white;
        margin-bottom: 4px;    
    }
    .mainmenu .row .image .nav-toggler span:last-child{
        margin-bottom: 0;
    }
    
    .mainmenu .menu{
        text-align: center;
        display: none;
    }
    .mainmenu .menu li{
        display: block;
        float: none !important;
        padding: 0 10px;
    }
} 

@media(max-width:892px){
    .info{
        justify-content: center;
        line-height: 25px;
        top:30%;
        left: 10%;
    }
    .info h1{
        font-size: 30px;
    }
    .info p{
        font-size: 10px;
    }
}


@media(max-width:768px){
    .mainmenu .row .image{
        position: static;
        transform: translateX(0%);
    }
    .mainmenu .row .image a{
        width: 80%;
    }
    .mainmenu .row .image .nav-toggler{
        position: absolute;
        right: 10px;
        top: 30px;
        display: block;
        width: 40px;
        background-color: black;
        padding: 15px 9px;
        cursor: pointer;
        border-radius: 5px;
    }
    .mainmenu .row .image .nav-toggler span{
        display: block;
        max-width: 90%;
        height: 2px;
        margin: auto;
        background-color: white;
        margin-bottom: 4px;    
    }
    .mainmenu .row .image .nav-toggler span:last-child{
        margin-bottom: 0;
    }
    
    .mainmenu .menu{
        text-align: center;
        display: none;
    }
    .mainmenu .menu li{
        display: block;
        float: none !important;
        padding: 0 10px;
    }
    .slider{
        height: 500px;
    }
    .info{
        justify-content: center;
        line-height: 25px;
        top:30%;
        left: 10%;
    }
    .info h1{
        font-size: 30px;
    }
    .info p{
        font-size: 10px;
    }
} 


@media(max-width:592px){
    .info{

        line-height: 20px;
        top: 30%;
        left: 15%;
    }
    .info h1{
        font-size: 20px;
    }
    .info p{
        font-size: 8px;
    }
} 





